<!doctype html>
<html lang="en" ng-app="demo">
  <head>
    <meta charset="utf-8">
    <title>Components</title>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
    <script src="bower_components/angular/angular.js"></script>

  </head>
  <body ng-controller="main">

    <p>Components</p>

    <!-- <div >
      <greet-user inuser="string literal" bridge="updateHero(data)"></greet-user>
      <button type="button" name="button" ng-click="getout('outside try')" >Outside</button>
    </p>
    </div> -->

    <date-pickers pickers="pickers" on-done="getDates(dates)" button-tilte="Show us"></date-pickers>
    <cas-dropdowns set-spy="setSpy(spy)" reporter="messenger(selected)" level-data="levelData"></cas-dropdowns>
    <button type="button" class="btn btn-default" ng-click="showSpyReport()">Show spy report</button>
    <button type="button" class="btn btn-default" onclick="alert('No drama: out of angular js')">None ng click will not cause digest cycle</button>

    <script src="bower_components/angular-bootstrap/ui-bootstrap.min.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
    <script src="mere-ui.js"></script>
    <!-- <script src="component.greeting.js"></script> -->
    <!-- <script src="components/datePickers/date-pickers.js"></script>
    <script src="components/datePickerUib/date-picker-uib.js"></script> -->
    <script src="components/casDropdns/casdropdowns.js"></script>
    <script src="demo.js"></script>
  </body>
</html>
